
<title>Створення</title>

<h3>Додавання користувача</h3>

<div>
    <h1>Форма для створення нового користувача</h1>
    <form method="post">
        <table>
            <tr>
                <td>Ім'я</td>
                <td><input type="text" name="Name" required minlength="2" maxlength="16" /></td>
            </tr>
            <tr>
                <td>День народження</td>
                <td><input type="text" name="DateDay" required /></td>
                <td>Місяць народження</td>
                <td><input type="text" name="DateMonth" required /></td>
                <td>Рік народження</td>
                <td><input type="text" name="DateYear" required /></td>
            </tr>
            <tr>
                <td>Одружений\Одружена</td>
                <td><input type="text" name="Married" required /></td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td><input type="text" name="Phone" required /></td>
            </tr>
            <tr>
                <td>Заробітня плата</td>
                <td><input type="text" name="Salary" required /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Створити" /></td>
            </tr>
        </table>
    </form>
</div>

<p><a href="~/">На головну</a></p>